:root {
  --primary-color: #3F4346;
  --secondary-color: #003366;
  --header-height: 100px;
  --tipografia: Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

body {
  font-family: var(--tipografia);
  height: 100%;
}

.section__inicio {
  display: none;
}

.envoltorio__principal {
  min-height: 100vh;
  /* ocupa toda la pantalla */
  display: flex;
  flex-direction: column;
}

.header__principal {
  width: 100%;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.header__principal--logo {
  width: 50%;
  display: none;
}

.btn__menu {
  width: 100%;

  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  filter: invert(1);
  z-index: 10;

}

.navbar {
  background-color: var(--primary-color);
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 9;
}

/* ANIMACIÓN DE ENTRADA */
.navbar.show {
  opacity: 1;
  pointer-events: auto;
  animation: scale-up-top 0.4s forwards;
}

/* ANIMACIÓN DE SALIDA */
.navbar.hide {
  opacity: 1;
  pointer-events: none;
  animation: scale-up-bottom 0.4s forwards;
}

@keyframes scale-up-top {
  0% {
    transform: scale(.5);
    transform-origin: center top
  }

  100% {
    transform: scale(1);
    transform-origin: center top
  }
}

@keyframes scale-up-bottom {
  0% {
    transform: scale(1);
    transform-origin: center top
  }

  100% {
    transform: scale(.5);
    transform-origin: center top
  }
}

.navbar__list {
  text-align: end;
}

.navbar__list li {

  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 1px;

  list-style: none;
}


.navbar__list li a {


  display: block;
  width: 100%;
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1em;
  text-transform: uppercase;
  padding: 0.5em 1em;
  font-family: 'Lora', serif;


}

.navbar__list li a:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.contacto {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.informacion {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.5rem;
  background-color: #f8f9fa;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.informacion__cont1,
.informacion__cont2 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.informacion__cont1--cabecera,
.informacion__cont2--cabecera,
.div__correo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: bold;
  font-size: 1.1rem;
}

.informacion__cont1 ul,
.informacion__cont2 ul {
  list-style: none;
  padding-left: 1rem;
}

.informacion__cont1 ul li,
.informacion__cont2 ul li {
  font-size: 1rem;
  margin-bottom: 0.3rem;
  color: #333;
}

.div__correo {
  margin-top: 1rem;
  font-size: 0.95rem;
}

.contacto img {
  width: 100%;
}

.formulario {
  height: 100%;
  width: 100%;

  padding: 1.5em;
  display: flex;
  flex-direction: column;

  gap: 2em;
  font-family: monospace;
}

.formulario input {
  width: 100%;
  height: 100%;

  font-size: 1em;
  padding: 1em;
}

.formulario textarea {
  resize: vertical;
}

.formulario button {
  width: 100%;
  height: 100%;
  padding: 1em;
  font-size: 1em;
  background-color: var(--primary-color);
  color: whitesmoke;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


.footerbar {
  text-align: center;
  color: whitesmoke;
  background-color: var(--primary-color);
  font-family: 'Merriweather', serif;
  padding: 1em;
}

/* ===== TABLET: 481px a 1024px ===== */
@media (min-width: 481px) {

  body {
    height: 100%;
    padding: 0;

  }

  .envoltorio__principal {
    min-height: 100vh;
    /* ocupa toda la pantalla */
    display: flex;
    flex-direction: column;
  }

  .informacion {
    max-width: 90%;
    padding: 2rem;
  }

}

/* ===== DESKTOP: 1025px en adelante ===== */
@media (min-width: 1025px) {

  html,
  body {
    height: 100%;
    padding: 0;
    margin: 0;
  }

  .line {
    display: flex;
    border-bottom: 2px solid whitesmoke;
    border-top: 2px solid whitesmoke;
    width: 100%;
    height: 10px;

  }

  .envoltorio__principal {
    min-height: 100vh;
    /* ocupa toda la pantalla */
    display: flex;
    flex-direction: column;
  }

  .section__inicio {
    flex: 1;
    /* clave para que crezca */
    padding: 0;
    margin: 0;
  }

  /* estilos para el header */
  .header__principal {
    width: 100%;
    background-color: var(--primary-color);
  }

  .header__principal--logo {
    width: clamp(200px, 1vw, 10rem);
    padding: 2em;
    display: inline;
  }

  .btn__menu {
    display: none;
  }

  .navbar {
    width: 100%;
    background-color: var(--primary-color);
    opacity: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    pointer-events: auto;
  }

  .navbar__list {
    text-align: end;
    display: flex;
    flex-direction: row;
  }

  .navbar__list li {

    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    background-color: var(--primary-color);
    border: none;

    backdrop-filter: none;
    background: var(--primary-color);
    box-shadow: none;
  }


  .navbar__list li a {
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 1.5em;
    white-space: nowrap;
  }

  .navbar__list li a:hover {
    background-color: whitesmoke;
    color: var(--primary-color);
  }

  /* estilos para el contenido  */

  .contacto {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: space-around;
  }

  .contacto img {
    width: 75%;
  }

  .informacion {
    width: 33.33vw;
    position: relative;
  }

  .informacion::after {
    content: "";
    position: absolute;
    right: 0;
    top: 20%;
    /* margen superior */
    height: 60%;
    /* altura del borde */
    width: 2px;
    background-color: var(--primary-color);
  }

  /* .informacion__cont1,
  .informacion__cont2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: clamp(1rem, 1vw, 3rem);
  }

  .informacion__cont1 {
    justify-content: end;
  }

  .informacion__cont1 ul,
  .informacion__cont2 ul {
    gap: 0;
  }

  .informacion__cont1 ul li {
    margin: 1rem 0rem;
    text-align: center;
    font-size: clamp(1rem, 1vw, 2rem);
  }

  .informacion__cont2 {
    justify-content: start;
  }

  .informacion__cont2 ul li {
    margin: 1rem 0rem;
    font-size: clamp(1rem, 1vw, 2rem);
  }

  .informacion__cont1--cabecera,
  .informacion__cont2--cabecera {
    width: 100%;
    padding: 0em 4em;
    margin: 1.25rem 0rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-size: clamp(1rem, 1.5vw, 3rem);
  }

  .informacion__cont2 li {
    margin: 0 11rem 0 0;
  }

  .informacion li {
    list-style: none;
  }

  .div__correo {
    margin: 1rem 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
  }

  .div__correo span {
    font-size: clamp(1rem, 1vw, 3rem);
  } */

  .formulario {
    height: 50%;
    width: 100%;

    padding: 2em 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    gap: 2em;
    font-family: monospace;
  }

  .formulario input {
    width: 40%;
    height: 15%;

    font-size: 1em;
    padding: 1em;
  }

  .formulario textarea {
    width: 40%;
    height: 15%;

    font-size: 1em;
    padding: 1em;
    resize: vertical;
  }

  .formulario button {
    width: 25%;
    height: 25%;
    padding: 1em;
    font-size: 1em;
    background-color: var(--primary-color);
    color: whitesmoke;
  }

  .formulario button:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
  }

  iframe {
    width: 90%;
    height: 70%;


    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .footerbar {
    padding: 2em;
  }

  .footerbar p {
    font-size: 1.5em;
  }
}