:root {
  --primary-color: #3F4346;
  --secondary-color: #003366;
  --header-height: 100px;
  --tipografia: Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 1px solid red;
}

body {
  font-family: var(--tipografia);
  height: 100%;
}

span {
  display: none;
}

.envoltorio__principal {
  min-height: 100vh;
  /* ocupa toda la pantalla */
  display: flex;
  flex-direction: column;
}

.header__principal {
  width: 100%;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.header__principal--logo {
  width: 50%;
  display: none;
}

.btn__menu {
  width: 100%;

  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  filter: invert(1);
  z-index: 10;

}

.navbar {
  background-color: var(--primary-color);
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 9;
}

/* ANIMACIÓN DE ENTRADA */
.navbar.show {
  opacity: 1;
  pointer-events: auto;
  animation: scale-up-top 0.4s forwards;
}

/* ANIMACIÓN DE SALIDA */
.navbar.hide {
  opacity: 1;
  pointer-events: none;
  animation: scale-up-bottom 0.4s forwards;
}

@keyframes scale-up-top {
  0% {
    transform: scale(.5);
    transform-origin: center top
  }

  100% {
    transform: scale(1);
    transform-origin: center top
  }
}

@keyframes scale-up-bottom {
  0% {
    transform: scale(1);
    transform-origin: center top
  }

  100% {
    transform: scale(.5);
    transform-origin: center top
  }
}

.navbar__list {
  text-align: end;
}

.navbar__list li {

  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 1px;

  list-style: none;
}


.navbar__list li a {


  display: block;
  width: 100%;
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1em;
  text-transform: uppercase;
  padding: 0.5em 1em;
  font-family: 'Lora', serif;


}

.navbar__list li a:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.contacto {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.informacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2em;
}

.contacto img {
  width: 100%;
}

.contacto__maps {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2em;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


.footerbar {
  text-align: center;
  color: whitesmoke;
  background-color: var(--primary-color);
  font-family: 'Merriweather', serif;
  padding: 1em;
}

/* ===== TABLET: 481px a 1024px ===== */
@media (min-width: 481px) {

  body {
    height: 100%;
    padding: 2em;

  }

  .envoltorio__principal {
    min-height: 100vh;
    /* ocupa toda la pantalla */
    display: flex;
    flex-direction: column;
  }

}

/* ===== DESKTOP: 1025px en adelante ===== */
@media (min-width: 1025px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    height: 100%;
    padding: 0;
    margin: 0;
  }

  span {
    display: flex;
    border-bottom: 2px solid whitesmoke;
    border-top: 2px solid whitesmoke;
    width: 100%;
    height: 10px;

  }

  .envoltorio__principal {
    min-height: 100vh;
    /* ocupa toda la pantalla */
    display: flex;
    flex-direction: column;
  }

  .section__inicio {
    flex: 1;
    /* clave para que crezca */
    padding: 0;
    margin: 0;
  }

  /* estilos para el header */
  .header__principal {
    width: 100%;
    background-color: var(--primary-color);
  }

  .header__principal--logo {
    width: 10%;
    padding: 2em;
    display: inline;
  }

  .btn__menu {
    display: none;
  }

  .navbar {
    width: 100%;
    background-color: var(--primary-color);
    opacity: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    pointer-events: auto;
  }

  .navbar__list {
    text-align: end;
    display: flex;
    flex-direction: row;
  }

  .navbar__list li {

    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    background-color: var(--primary-color);
    border: none;

    backdrop-filter: none;
    background: var(--primary-color);
    box-shadow: none;
  }


  .navbar__list li a {
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 1.5em;
    white-space: nowrap;
  }

  .navbar__list li a:hover {
    background-color: whitesmoke;
    color: var(--primary-color);
  }

  /* estilos para el contenido  */

  .contacto {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .informacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2em;
  }

  .contacto img {
    width: 40%;
  }

  .contacto__maps {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2em;
  }
  .footerbar {
    padding: 2em;
  }

  .footerbar p {
    font-size: 1.5em;
  }
}