:root {
  --primary-color: #3F4346;
  --secondary-color: #003366;
  --header-height: 100px;
  --tipografia: Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

body {
  font-family: var(--tipografia);
  height: 100%;
}

.line {
  display: none;
}

.envoltorio__principal {
  min-height: 100vh;
  /* ocupa toda la pantalla */
  display: flex;
  flex-direction: column;

}

.header__principal {
  width: 100%;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.header__principal--logo {
  width: 50%;
  display: none;
}

.btn__menu {
  width: 100%;

  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  filter: invert(1);
  z-index: 10;

}

.navbar {
  background-color: var(--primary-color);
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 9;
}

/* ANIMACIÓN DE ENTRADA */
.navbar.show {
  opacity: 1;
  pointer-events: auto;
  animation: scale-up-top 0.4s forwards;
}

/* ANIMACIÓN DE SALIDA */
.navbar.hide {
  opacity: 1;
  pointer-events: none;
  animation: scale-up-bottom 0.4s forwards;
}

@keyframes scale-up-top {
  0% {
    transform: scale(.5);
    transform-origin: center top
  }

  100% {
    transform: scale(1);
    transform-origin: center top
  }
}

@keyframes scale-up-bottom {
  0% {
    transform: scale(1);
    transform-origin: center top
  }

  100% {
    transform: scale(.5);
    transform-origin: center top
  }
}

.navbar__list {
  text-align: end;
}

.navbar__list li {

  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 1px;

  list-style: none;
}


.navbar__list li a {


  display: block;
  width: 100%;
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1em;
  text-transform: uppercase;
  padding: 0.5em 1em;
  font-family: 'Lora', serif;


}

.navbar__list li a:hover {
  background-color: var(--primary-color);
  color: #fff;
}

/* contenido principal del sitio */
.presentacion__abogados {

  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0em 2em;
  margin: 2em 0em;
}

.presentacion__abogados h3 {
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInDown 1s forwards;
}



.abogado {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  padding: 2em;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s forwards;
  animation-delay: 0.3s;


}

.abogado img {
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.abogado img:hover {
  transform: scale(1.1);
}

.abogado h3 {
  margin: 0.5em 0 0.2em 0;
  font-family: 'Playfair Display', serif;
}

.abogado p {
  margin: 0.2em 0;
  font-family: 'Merriweather', serif;
  line-height: 35px;
}

@keyframes fadeInDown {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.footerbar {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: whitesmoke;
  background-color: var(--primary-color);
  font-family: 'Merriweather', serif;
  padding: 1em;
}

.container1,
.container2,
.container3,
.container4 {
  padding: 1em;
}

/* Distribución en la grid */
.container1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.container1 img {
  width: 100%;
  height: auto;
  filter: invert(1);
}

.container2 {
  text-align: left;
  gap: 1em;
  border-left: 3px solid wheat;
}

.fa-solid {
  margin-right: 10px;
}

.container2 ul {
  margin: 0.5em 0em;
}

.container2 li {
  list-style: none;
}


.container3 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.container4 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  text-align: center;
  font-size: 2em;
}

/* ===== TABLET: 481px a 1024px ===== */
@media (min-width: 481px) {

  body {
    height: 100%;
    padding: 2em;

  }

  .envoltorio__principal {
    min-height: 100vh;
    /* ocupa toda la pantalla */
    display: flex;
    flex-direction: column;
  }

  .presentacion__abogados {
    flex: 1;
    /* clave para que crezca */
    padding: 0;
    margin: 0;
  }

  .abogado {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    padding: 2em;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards;
    animation-delay: 0.3s;


  }

  .abogado img {
    width: 100%;
    transform: scale(0.8);
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
  }

  .abogado img:hover {
    transform: scale(1);
  }

  .abogado h3 {
    margin: 0.5em 0 0.2em 0;
    font-family: 'Playfair Display', serif;
  }

  .abogado p {
    margin: 0.2em 0;
    font-family: 'Merriweather', serif;
    line-height: 35px;
  }

}

/* ===== DESKTOP: 1025px en adelante ===== */
@media (min-width: 1025px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    height: 100%;
    padding: 0;
    margin: 0;
  }

  .line {
    display: flex;
    border-bottom: 2px solid whitesmoke;
    border-top: 2px solid whitesmoke;
    width: 100%;
    height: 10px;

  }

  .envoltorio__principal {
    min-height: 100vh;
    /* ocupa toda la pantalla */
    display: flex;
    flex-direction: column;
  }




  /* estilos para el header */
  .header__principal {
    width: 100%;
    background-color: var(--primary-color);
  }

  .header__principal--logo {
    width: 10%;
    padding: 2em;
    display: inline;
  }

  .btn__menu {
    display: none;
  }

  .navbar {
    width: 100%;
    background-color: var(--primary-color);
    opacity: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    pointer-events: auto;
  }

  .navbar__list {

    text-align: end;
    display: flex;
    flex-direction: row;
  }

  .navbar__list li {
    display: flex;
    flex-direction: row;
    color: white;
    background-color: var(--primary-color);
    border: none;

    backdrop-filter: none;
    background: var(--primary-color);
    box-shadow: none;
  }


  .navbar__list li a {
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 1.5em;
    white-space: nowrap;

  }

  .navbar__list li a:hover {
    background-color: whitesmoke;
    color: var(--primary-color);
  }


  /* estilos para el contenido  */
  .presentacion__abogados {
    /* clave para que crezca */
    flex: 1;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "f1 f1"
      "f2 f3"
      "f4 f5"
      "f6 f7";
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0;

  }


  #f1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: f1;

  }

  #f2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: f2;

  }

  #f3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: f3;

  }

  #f4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: f4;

  }

  #f5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: f5;

  }

  .abogado {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards;
    animation-delay: 0.3s;

    background-color: #f8f9fa;
    transition: background-color 0.5s ease-in-out;


  }

  .abogado:hover {
    background-color: #e2e6ea;
  }

  .abogado img {
    transform: scale(0.7);
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
  }

  #f1 {
    background: url(/imagenes/equipo/maestro.png) no-repeat center / cover;
    width: 100%;
    color: #ccc;
  }
  #f1 img {
    height: auto;
    width: 100%;
    max-width: 400px;
    object-fit: contain;
  }
  #f2,
  #f3,
  #f4,
  #f5,
  #f6 {
    background: url(/imagenes/equipo/alummno.png) no-repeat center / cover;
    color: white;
  }
  #f2 img,
  #f3 img,
  #f4 img,
  #f5 img,
  #f6 img {
    height: 270px;
    max-width: 370px;
  }

  .abogado img:hover {
    transform: scale(0.9);
  }

  .abogado h3 {
    font-family: 'Playfair Display', serif;
    font-size: 3em;
  }

  .abogado p {

    font-size: 1.5em;
    padding: 0em 5em;
    font-family: 'Merriweather', serif;
    line-height: 1.5em;
    letter-spacing: 0;
    text-align: center;
  }

  .footerbar {
    height: 100%;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* 2 columnas iguales */
    grid-template-rows: 80% 20%;
    /* 80% primera fila, 20% segunda fila */
    width: 100%;
    /* Ajusta según necesidad */
    background-color: #333;
    color: white;
    padding: 1em;
    gap: 1em;
  }

  .container1,
  .container2,
  .container3,
  .container4 {
    padding: 1em;
  }

  /* Distribución en la grid */
  .container1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .container1 img {
    width: 40%;
    height: auto;
    filter: invert(1);
  }

  .container2 {
    text-align: left;
    gap: 1em;
    border-left: 3px solid wheat;
  }

  .container2 ul {
    margin: 0.5em 0em;
  }

  .container2 li {
    list-style: none;
  }


  .container3 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .container4 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    text-align: right;
    font-size: 16px;
  }
}