:root {
    --primary-color: #3F4346;
    --secondary-color: #003366;
    --header-height: 100px;
    --tipografia: Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

body {
    font-family: var(--tipografia);
    height: 100%;
}

.line {
    display: none;
}

.envoltorio__principal {
    min-height: 100vh;
    /* ocupa toda la pantalla */
    display: flex;
    flex-direction: column;
}

/*  
    bloque encargado de dar estilos al header
    y al menu para navegar entre pestanas
*/

.header__principal {
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.header__principal--logo {
    width: 50%;
    display: none;
}

.btn__menu {
    width: 100%;

    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    filter: invert(1);
    z-index: 10;

}

.navbar {
    background-color: var(--primary-color);
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 9;
}

/* 
    animacion para ver el menu en dispositivos moviles
*/

.navbar.show {
    opacity: 1;
    pointer-events: auto;
    animation: scale-up-top 0.2s forwards;
}

/* 
    animacion para cerrar el menu en dispositivos moviles
*/

.navbar.hide {
    opacity: 1;
    pointer-events: none;
    animation: scale-up-bottom 0.2s forwards;
}

@keyframes scale-up-top {
    0% {
        transform: scale(.5);
        transform-origin: center top
    }

    100% {
        transform: scale(1);
        transform-origin: center top
    }
}

@keyframes scale-up-bottom {
    0% {
        transform: scale(1);
        transform-origin: center top
    }

    100% {
        transform: scale(.5);
        transform-origin: center top
    }
}

.navbar__list {
    text-align: end;
}

.navbar__list li {

    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 1px;

    list-style: none;
}


.navbar__list li a {


    display: block;
    width: 100%;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1em;
    text-transform: uppercase;
    padding: 0.5em 1em;
    font-family: 'Lora', serif;


}

.navbar__list li a:hover {
    background-color: var(--primary-color);
    color: #fff;
}

/* 
    bloque encargado de estilar el contenido principal 
*/

.main__container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.presentacion {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.presentacion img {
    width: 100%;
    max-width: 300px;
    margin: 2em 0 0 0;
    animation: fadeIn 0.6s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.presentacion h1 {
    font-size: 1.5em;
    font-weight: 700;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    color: #333;
    text-align: center;
    margin: 0;
    line-height: 1.5em;
    width: 100%;
    letter-spacing: 0em;
    font-family: 'Playfair Display', serif;
    animation: swirl-in-bck 0.65s ease-out both;
}

@keyframes swirl-in-bck {
    0% {
        transform: rotate(540deg) scale(5);
        opacity: 0;
    }

    100% {
        transform: rotate(0) scale(1);
        opacity: 1;
    }
}
.presentacion__introduccion {
    text-align: justify;
    font-size: 1.5em;
    padding: 2em;
    letter-spacing: 0;
    font-family: 'Playfair Display', serif;
}
.div__izq {
    background: url(/imagenes/index/juzgado.jpg) no-repeat right center / cover;
    margin: 4rem 0em;
}

.presentacion__izq {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1em 0;
    padding: 0em 2em;
    line-height: 2em;
    letter-spacing: 0em;
    font-family: 'Merriweather', serif;
    font-size: 1.5em;

    color: #f6f6f7;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
    opacity: 0;
    transform: translateX(-200px);
    animation: slideIn 0.8s ease-out forwards;
}

.presentacion__der {
    text-align: center;
    padding: 0em 2em;
    line-height: 2em;
    letter-spacing: 0.2em;
    font-family: 'Merriweather', serif;
    font-size: 1.5em;
    color: #333;
    opacity: 0;
    transform: translateX(200px);
    animation: slideIn 0.8s ease-out forwards;
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* contenido principal del sitio */
.quienes__somos {
    flex: 1;
}

.quienes__somos h2 {
    font-size: 2em;
    font-weight: 700;

    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    color: #333;
    text-align: center;
    padding: 0em 0.2em;
    margin: 3em 0em;
    line-height: 2em;
    width: 100%;
    letter-spacing: 0.2em;
    /* font-family: 'Merriweather', serif; */
    font-family: 'Playfair Display', serif;

    animation: fadeIn 0.6s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.quienes__somos--pizq {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1em 0;
    padding: 2em;
    line-height: 2em;
    font-family: 'Merriweather', serif;
    font-size: 1.5em;

    color: #333;
    opacity: 0;
    transform: translateX(-200px);
    animation: slideIn 0.8s ease-out forwards;
}

.quienes__somos--pizq img {
    width: 150px;
    height: 150px;
}

.quienes__somos--pder {
    text-align: center;
    margin: 1em 0;
    padding: 2em;
    line-height: 2em;
    font-family: 'Merriweather', serif;
    font-size: 1.5em;
    color: #333;
    opacity: 0;
    transform: translateX(200px);
    animation: slideIn 0.8s ease-out forwards;
}

.quienes__somos--banner {
    width: 100%;
    padding: 2em;

}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.footerbar {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: whitesmoke;
    background-color: var(--primary-color);
    font-family: 'Merriweather', serif;
    padding: 1em;
}

.container1,
.container2,
.container3,
.container4 {
    padding: 1em;
}

/* Distribución en la grid */
.container1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.container1 img {
    width: 100%;
    height: auto;
    filter: invert(1);
}

.container2 {
    text-align: left;
    gap: 1em;
    border-left: 3px solid wheat;
}

.container2 ul {
    margin: 0.5em 0em;
}

.container2 li {
    list-style: none;
}


.container3 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.container4 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    text-align: center;
    font-size: 2em;
}

/* ===== TABLET: 481px a 1024px ===== */
@media (min-width: 481px) {

    body {
        height: 100%;
        padding: 2em;

    }

    .envoltorio__principal {
        min-height: 100vh;
        /* ocupa toda la pantalla */
        display: flex;
        flex-direction: column;
    }

    .section__inicio {
        flex: 1;
        /* clave para que crezca */
        padding: 0;
        margin: 0;
    }

    .section__inicio h1 {
        font-size: 6em;
        margin: 0;
        padding: 0;
    }

    .section__inicio h2 {
        font-size: 2em;
        padding: 0;
    }

    .section__inicio--pizq {
        font-size: 1.3em;
    }

    .section__inicio--pder {
        font-size: 1.3em;
    }

    .quienes__somos {
        flex: 1;
        /* clave para que crezca */
        padding: 0;
        margin: 0;
    }

    .quienes__somos h1 {
        font-size: 3em;
        margin: 0;
        padding: 0;
    }


    .quienes__somos--pizq {
        font-size: 1.3em;
    }

    .quienes__somos--pder {
        font-size: 1.3em;
    }




}

/* ===== DESKTOP: 1025px en adelante ===== */
@media (min-width: 1025px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html,
    body {
        height: 100%;
        padding: 0;
        margin: 0;
    }

    .line {
        display: flex;
        border-bottom: 2px solid whitesmoke;
        border-top: 2px solid whitesmoke;
        width: 100%;
        height: 10px;

    }

    .envoltorio__principal {
        min-height: 100vh;
        /* ocupa toda la pantalla */
        display: flex;
        flex-direction: column;
    }

    /* estilos para el header */
    .header__principal {
        width: 100%;
        background-color: var(--primary-color);
    }

    .header__principal--logo {
        width: 10%;
        padding: 2em;
        display: inline;
    }

    .btn__menu {
        display: none;
    }

    .navbar {
        width: 100%;
        background-color: var(--primary-color);
        opacity: 1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        pointer-events: auto;
    }

    .navbar__list {
        text-align: end;
        display: flex;
        flex-direction: row;
    }

    .navbar__list li {

        display: flex;
        flex-direction: row;
        align-items: center;
        color: white;
        background-color: var(--primary-color);
        border: none;

        backdrop-filter: none;
        background: var(--primary-color);
        box-shadow: none;
    }


    .navbar__list li a {
        display: flex;
        flex-direction: row;
        color: white;
        font-size: 1.5em;
        white-space: nowrap;
    }

    .navbar__list li a:hover {
        background-color: whitesmoke;
        color: var(--primary-color);
    }

    .main__container {
        flex: 1;
        /* clave para que crezca */
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .presentacion {
        height: 100%;
    }

    .presentacion img {
        width: 100%;
        max-width: 700px;
        margin: 2em 0 0 0;
        animation: fadeIn 0.6s ease-out;
    }

    .presentacion__introduccion {
        width: 100%;
        text-align: justify;
        color: #333;
        padding: 2em;
        line-height: 2em;
        font-size: 3em;
        font-family: 'Playfair Display', serif;
    }

    /* estilos para el contenido  */
    .presentacion h1 {
        color: #333;
        font-size: 3em;
        padding: 0;
        margin: 0;
    }

    .presentacion h2 {
        font-size: 1.5em;
        padding: 0;
        margin: 0;
    }

    .presentacion__izq {
        height: 800px;
        width: 100%;
        text-align: center;
        line-height: 2em;
        letter-spacing: 0.2em;
        font-size: 5em;

    }

    .div__izq {
        width: 100%;
        height: 100%;
    }

    .presentacion__der {
        text-align: center;
        margin: 0;
        padding: 2em;
        line-height: 2em;
        letter-spacing: 0.2em;
        font-size: 3em;
    }

    /* seccion quienes somos  */

    .quienes__somos {
        /* clave para que crezca */
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .title__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #333;
    }

    .line-q {
        display: flex;
        border-bottom: 2px solid #3f4346;
        border-top: 2px solid #3f4346;
        width: 100%;
        height: 10px;
        margin: 0em 1em;
    }

    /* estilos para el contenido  */
    .quienes__somos h2 {
        width: 100%;
        font-size: 3em;
        letter-spacing: 0;
        padding: 0;
        margin: 0;
    }

    .quienes__somos--info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 2em;
    }



    .quienes__somos--pizq {
        text-align: center;
        line-height: 2em;
        font-size: 3em;

    }

    .quienes__somos--pder {
        text-align: center;
        line-height: 2em;
        letter-spacing: 0.2em;
        font-size: 3em;
    }

    .quienes__somos--banner {
        width: 100%;

    }

    .footerbar {
        height: 100%;
        height: 300px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* 2 columnas iguales */
        grid-template-rows: 80% 20%;
        /* 80% primera fila, 20% segunda fila */
        width: 100%;
        /* Ajusta según necesidad */
        background-color: #333;
        color: white;
        padding: 1em;
        gap: 1em;
    }

    .container1,
    .container2,
    .container3,
    .container4 {
        padding: 1em;
    }

    /* Distribución en la grid */
    .container1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .container1 img {
        width: 40%;
        height: auto;
        filter: invert(1);
    }

    .container2 {
        text-align: left;
        gap: 1em;
        border-left: 3px solid wheat;
    }

    .container2 ul {
        margin: 0.5em 0em;
    }

    .container2 li {
        list-style: none;
    }


    .container3 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .container4 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        text-align: right;
        font-size: 16px;
    }

}