:root {
    --primary-color: #3F4346;
    --secondary-color: #003366;
    --header-height: 100px;
    --tipografia: Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

body {
    font-family: var(--tipografia);
    height: 100%;
}

span {
    display: none;
}

.envoltorio__principal {
    min-height: 100vh;
    /* ocupa toda la pantalla */
    display: flex;
    flex-direction: column;
}

.header__principal {
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.header__principal--logo {
    width: 50%;
    display: none;
}

.btn__menu {
    width: 100%;

    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    filter: invert(1);
    z-index: 10;

}

.navbar {
    background-color: var(--primary-color);
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 9;
}

/* ANIMACIÓN DE ENTRADA */
.navbar.show {
    opacity: 1;
    pointer-events: auto;
    animation: scale-up-top 0.4s forwards;
}

/* ANIMACIÓN DE SALIDA */
.navbar.hide {
    opacity: 1;
    pointer-events: none;
    animation: scale-up-bottom 0.4s forwards;
}

@keyframes scale-up-top {
    0% {
        transform: scale(.5);
        transform-origin: center top
    }

    100% {
        transform: scale(1);
        transform-origin: center top
    }
}

@keyframes scale-up-bottom {
    0% {
        transform: scale(1);
        transform-origin: center top
    }

    100% {
        transform: scale(.5);
        transform-origin: center top
    }
}

.navbar__list {
    text-align: end;
}

.navbar__list li {

    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 1px;

    list-style: none;
}


.navbar__list li a {


    display: block;
    width: 100%;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1em;
    text-transform: uppercase;
    padding: 0.5em 1em;
    font-family: 'Lora', serif;


}

.navbar__list li a:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.section__inicio {
    flex: 1;
}

.section__inicio h1 {
    font-size: 2.7em;
    font-weight: 700;

    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);

    color: #333;
    text-align: center;
    margin: 0;
    line-height: 2em;
    width: 100%;
    letter-spacing: 0.2em;
    /* font-family: 'Merriweather', serif; */
    font-family: 'Playfair Display', serif;

    animation: fadeIn 0.6s ease-out;
    margin-top: 1em;

}

.section__inicio h2 {

    font-size: 1em;
    font-weight: 700;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    color: #333;
    text-align: center;
    line-height: 2em;
    width: 100%;
    letter-spacing: 0.2em;
    font-family: 'Playfair Display', serif;
    animation: fadeIn 0.6s ease-out;
    padding: 0em 1em;
    margin-bottom: 3em;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.section__inicio--pizq {
    text-align: center;
    margin: 1em 0;
    padding: 2em;
    line-height: 2em;
    letter-spacing: 0.2em;
    font-family: 'Merriweather', serif;
    font-size: 1em;

    color: #333;
    opacity: 0;
    transform: translateX(-200px);
    animation: slideIn 0.8s ease-out forwards;
}

.section__inicio--pder {
    text-align: center;
    margin: 1em 0;
    padding: 2em;
    line-height: 2em;
    letter-spacing: 0.2em;
    font-family: 'Merriweather', serif;
    font-size: 1em;
    color: #333;
    opacity: 0;
    transform: translateX(200px);
    animation: slideIn 0.8s ease-out forwards;
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


.footerbar {
    text-align: center;
    color: whitesmoke;
    background-color: var(--primary-color);
    font-family: 'Merriweather', serif;
    padding: 1em;
}

/* ===== TABLET: 481px a 1024px ===== */
@media (min-width: 481px) {

    body {
        height: 100%;
        padding: 2em;

    }

    .envoltorio__principal {
        min-height: 100vh;
        /* ocupa toda la pantalla */
        display: flex;
        flex-direction: column;
    }

    .section__inicio {
        flex: 1;
        /* clave para que crezca */
        padding: 0;
        margin: 0;
    }

    .section__inicio h1 {
        font-size: 6em;
        margin: 0;
        padding: 0;
    }

    .section__inicio h2 {
        font-size: 2em;
        padding: 0;
    }
    .section__inicio--pizq{
        font-size: 1.3em;
    }
    .section__inicio--pder{
        font-size: 1.3em;
    }


}

/* ===== DESKTOP: 1025px en adelante ===== */
@media (min-width: 1025px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html,
    body {
        height: 100%;
        padding: 0;
        margin: 0;
    }
    span{
        display: flex;
        border-bottom: 2px solid whitesmoke;
        border-top: 2px solid whitesmoke;
        width: 100%;
        height: 10px;

    }
    .envoltorio__principal {
        min-height: 100vh;
        /* ocupa toda la pantalla */
        display: flex;
        flex-direction: column;
    }

    .section__inicio {
        flex: 1;
        /* clave para que crezca */
        padding: 0;
        margin: 0;
    }

    /* estilos para el header */
    .header__principal {
        width: 100%;
        background-color: var(--primary-color);
    }

    .header__principal--logo {
        width: 10%;
        padding: 2em;
        display: inline;
    }

    .btn__menu {
        display: none;
    }

    .navbar {
        width: 100%;
        background-color: var(--primary-color);
        opacity: 1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        pointer-events: auto;
    }

    .navbar__list {
        text-align: end;
        display: flex;
        flex-direction: row;
    }

    .navbar__list li {
        
        display: flex;
        flex-direction: row;
        align-items: center;
        color: white;
        background-color: var(--primary-color);
        border: none;

        backdrop-filter: none;
        background: var(--primary-color);
        box-shadow: none;
    }


    .navbar__list li a {
        display: flex;
        flex-direction: row;
        color: white;
        font-size:1.5em;
        white-space: nowrap;
    }

    .navbar__list li a:hover {
        background-color: whitesmoke;
        color: var(--primary-color);
    }

    /* estilos para el contenido  */
    .section__inicio h1 {
        font-size: 7em;
        padding: 0;
        margin: 0;
    }

    .section__inicio h2 {
        font-size: 2em;
        padding: 0;
        margin: 0;
    }

    .section__inicio--pizq {
        text-align: center;
        line-height: 2em;
        letter-spacing: 0.2em;
        font-size: 2em;

    }

    .section__inicio--pder {
        text-align: center;
        margin: 0;
        padding: 0;
        line-height: 2em;
        letter-spacing: 0.2em;
        font-size: 1.5em;
    }

    .footerbar {
        padding: 2em;
    }

    .footerbar p {
        font-size: 1.5em;
    }
}