:root {
    --primary-color: #3F4346;
    --secondary-color: #003366;
    --header-height: 100px;
    --tipografia: Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1px solid red;
}

body {
    font-family: var(--tipografia);
}

span {
    display: none;
}

.header__principal {
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5em 1em;
    position: relative;
}

.header__principal--logo {
    width: 150px;
    border-radius: 2px;
}

.btn__menu {

    padding: 1em;
    display: block;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    filter: invert(1);
    z-index: 10;

}

.navbar {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 9;
  }
  
  /* ANIMACIÓN DE ENTRADA */
  .navbar.show {
    opacity: 1;
    pointer-events: auto;
    animation: scale-up-top 0.4s forwards;
  }
  
  /* ANIMACIÓN DE SALIDA */
  .navbar.hide {
    opacity: 1;
    pointer-events: none;
    animation: scale-up-bottom 0.4s forwards;
  }

@keyframes scale-up-top {
    0% {
        transform: scale(.5);
        transform-origin: center top
    }

    100% {
        transform: scale(1);
        transform-origin: center top
    }
}

@keyframes scale-up-bottom {
    0% {
        transform: scale(1);
        transform-origin: center top
    }

    100% {
        transform: scale(.5);
        transform-origin: center top
    }
}

.navbar__list {
    text-align: end;
    background-color: var(--primary-color);
}

.navbar__list li {
    border: 4px solid whitesmoke;
    list-style: none;
    padding: 0.5em;
}

.navbar__list li a {

    display: block;
    width: 100%;
    text-decoration: none;
    color: white;
    font-size: 1em;


}
.section__inicio h1{
    font-size: 2em;
    font-weight: 700;

    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);

    color: #333;
    text-align: center;
    
    line-height: 2em;
    width: 100%;
    letter-spacing: 0.2em;
    /* font-family: 'Merriweather', serif; */
    font-family: 'Playfair Display', serif;
    /* font-family: 'Lora', serif; */
}
.section__inicio h2 {
    font-size: 1em;
    font-weight: 700;

    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);

    color: #333;
    text-align: center;
    margin: 1em 0;
    padding: 2em;
    line-height: 2em;
    width: 100%;
    letter-spacing: 0.2em;
    /* font-family: 'Merriweather', serif; */
    font-family: 'Playfair Display', serif;
    /* font-family: 'Lora', serif; */

}

.section__inicio p {
    text-align: center;
    margin: 1em 0;
    padding: 2em;
    line-height: 2em;
    letter-spacing: 0.2em;
    font-family: 'Merriweather', serif;
}
.footerbar{
    text-align: center;
    color: whitesmoke;
    background-color: var(--primary-color);
    font-family: 'Merriweather', serif;
    padding: 1em;
}